body{
   background-color: beige;
   text-align: center;
}
h1{
    text-align: center;
    color:crimson;
}

nav{
    text-align: center;
    padding: 8px;
}

a{
    margin: 10px;
    color: black;
    text-decoration: none;
}

h2{
    text-align: center;
}

div{
    text-align: center;
}
ul {
    list-style-position: inside;;
}
img{
    height: 300px;
    width: 250px;
}